/* THESE are CSS variables! */
:root {
	--background-color: #161919;
	--primary-color: #007BFF;
	--button-hover: #0056b3;
	--text-color: #fff;
	--border-radius: 8px;
}

/* Everything has a box and Segoe. */
* {
	margin: 0 0 0 0;
	padding-top: 2.5%;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Center it ALL. */
body {
	background: var(--background-color);
	font-size: calc(1rem + 1.5vh);
	color: var(--text-color);
	justify-content: center;
	align-items: center;

	/* `flex` 'cuz it scales. `flexbox`es occupy ALL space like a landscape Android app. */
	display: flex;

	/* Per viewport height! */
	height: 75vh;

	padding: 0%;
}

/* Mobile. It fits *just a little* better. Not necessary, though. */
@media (max-width: 768px) {
	body {
		font-size: calc(1rem + 0.95vh);
	}
}

#reasons-heading {
	text-align: center;
}

/* "Mark Me!" */
#mark {
	width: 100%;
	border: none;
	color: white;

	/* Multiply the number here by the `font-size` of the parent element, and you get this `font-size` here: */
	font-size: 1rem;

	cursor: pointer;

	/* Set the top and bottom AS WELL AS left and right to these!: */
	margin-top: 5vh;
	padding: 10px 20px;

	/* This is changed in `transition` and `#present:hover` later!: */
	background: var(--primary-color);
	border-radius: var(--border-radius);

	/* Animation without `animation`!: */
	transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}

/* Hovering on it has a `transition`!: */
#mark:hover {
	background: var(--button-hover);
}

#mark:active,
#mark.changed {
	transform: scale(0.95);
}

#notif {
	opacity: 0;
	z-index: 1;
	margin-top: 5vh;
	text-align: center;
	padding: 10px 20px;
	border-radius: 8px;
	color: var(--background-color);
	background: var(--background-color);
	transition: background-color 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

#notif.changed {
	opacity: 1;
	color: black;
	background: #ffcc00;
}

/* Fancy animations `transition`s...: */
input[type="radio"]:active,
input[type="checkbox"]:active {
	scale: 5;
}

input[type="radio"],
input[type="checkbox"] {
	scale: 2;
	transition: scale 0.2s ease-out;
	accent-color: var(--primary-color);
}

input[type="number"] {
	width: 50pt;
	padding: 1%;
	transform: scale(2);
	accent-color: var(--primary-color);
	transition: transform 0.1s ease-in;
}

input[type="number"].changed,
input[type="number"]:active {
	transform: scale(2.5);
}

li {
	gap: 0.5rem;
	display: flex;
	align-items: center;
}